extends layout

block footer
	.footer
		.footer-wrapper
			.footer-top
				img(src="/images/dc_roasters_200x124_lt.png")
				.row
					a(href="#") blog
					a(href="#") contact
					a(href="#") suppliers
			.footer-bottom
				p.copyright &copy; 2015 DC Coffee Roasters
				.row
					a(href="#") terms
					a(href="#") privacy
				.row
					p Creative Commons images courtesy of:
					p david pacey dave bleasdale dennis tang mahmoud99725