/* line 12, ../../assets/compass/sass/views/home.scss */
.sprite {
  background: url("../images/menu-steps.png") no-repeat;
  background-size: 35px;
  height: 30px;
}

/* line 19, ../../assets/compass/sass/views/home.scss */
.nav.navbar.navbar-fixed-top {
  width: 100%;
}
/* line 21, ../../assets/compass/sass/views/home.scss */
.nav.navbar.navbar-fixed-top .container.navigation {
  width: 100%;
}

/* line 25, ../../assets/compass/sass/views/home.scss */
.row.top {
  background: linear-gradient(#3a2f27, #6d5219);
  color: #fff;
  padding: 10px;
}
/* line 30, ../../assets/compass/sass/views/home.scss */
.row.top img.img-responsive {
  margin-left: 6%;
  height: a75px;
  width: 150px;
  float: left;
  display: inline-block;
}
/* line 37, ../../assets/compass/sass/views/home.scss */
.row.top .login {
  float: right;
  margin: 0px;
}

/* line 42, ../../assets/compass/sass/views/home.scss */
.row.bottom {
  background: #3a2f27;
  border-top: #a08855 2px solid;
  border-bottom: #a08855 2px solid;
  height: 50px;
  overflow: hidden;
}
/* line 48, ../../assets/compass/sass/views/home.scss */
.row.bottom ul {
  background: #a08855;
  border-radius: 6px;
  width: 80%;
  margin-left: 10%;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 5px;
  position: relative;
}
/* line 57, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li {
  border-radius: 16px;
  width: 25%;
  postion: relative;
}
/* line 61, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li #welcome {
  width: 70px;
  height: 60px;
  display: inline-block;
  background-position: 0px 0px;
}
/* line 67, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li .welcome-link {
  position: absolute;
  left: -15%;
  top: -12%;
}
/* line 72, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li #options {
  width: 70px;
  height: 60px;
  display: inline-block;
  background-position: 0px -30px;
  float: left;
}
/* line 79, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li .options-link {
  position: absolute;
  left: -22%;
  top: -12%;
}
/* line 84, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li #delivery {
  width: 70px;
  height: 60px;
  display: inline-block;
  background-position: 0px -60px;
  float: left;
}
/* line 91, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li .delivery-link {
  position: absolute;
  left: -14%;
  top: -12%;
}
/* line 96, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li #payment {
  width: 70px;
  height: 60px;
  display: inline-block;
  background-position: 0px -90px;
  float: left;
}
/* line 103, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li .payment-link {
  position: absolute;
  left: -16%;
  top: -12%;
}
/* line 108, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li a {
  color: #6d5219;
  width: 58%;
  margin-left: 33%;
  margin-bottom: 5%;
  height: 6px;
}
/* line 115, ../../assets/compass/sass/views/home.scss */
.row.bottom ul li a:hover {
  background: #a08855;
  color: #fff;
}

/* line 122, ../../assets/compass/sass/views/home.scss */
#main {
  width: 100%;
  height: 500px;
  background: url("../images/CupInBeans.jpg");
  background-position: 0,0px;
  background-size: cover;
  margin-top: 86px;
  padding-left: 25px;
}
/* line 130, ../../assets/compass/sass/views/home.scss */
#main h1 {
  padding-top: 185px;
  padding-left: 30px;
  color: #fff;
}
/* line 135, ../../assets/compass/sass/views/home.scss */
#main h3 {
  color: #fff;
  padding: 5px 30px 5px 30px;
}

/* line 140, ../../assets/compass/sass/views/home.scss */
#source {
  background: url("../images/canvas.jpg");
  padding-top: 5%;
  padding-bottom: 5%;
}
/* line 144, ../../assets/compass/sass/views/home.scss */
#source #source-description {
  width: 60%;
  border: 2px solid #e7e7e7;
  padding: 5%;
  margin: auto;
  background: #fff;
}

/* line 154, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworksheadline {
  color: #294741;
  background: url("../images/canvas.jpg");
}
/* line 157, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworksheadline h1 {
  margin: 0;
  padding-bottom: 4%;
}
/* line 162, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworks {
  height: 500px;
  background: url("../images/CoffeeBags.jpg");
  color: #fff;
  background-size: cover;
  position: relative;
}
/* line 168, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworks img {
  position: absolute;
  left: 47%;
  top: 0%;
}
/* line 173, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworks h2 {
  padding-top: 8%;
  padding-bottom: 2%;
  margin-left: 11%;
  margin-top: 0;
}
/* line 179, ../../assets/compass/sass/views/home.scss */
#how-it-works-one .howitworks p {
  margin-left: 14%;
}

/* line 185, ../../assets/compass/sass/views/home.scss */
#how-it-works-two .howitworks {
  position: relative;
  height: 500px;
  background: url("../images/canvas.jpg") center bottom no-repeat;
  color: black;
  background-size: cover;
  position: relative;
}
/* line 192, ../../assets/compass/sass/views/home.scss */
#how-it-works-two .howitworks #grower {
  transform: rotate(-8deg);
  border: solid white 10px;
  position: absolute;
  left: 95px;
  top: 100px;
  width: 40%;
}
/* line 200, ../../assets/compass/sass/views/home.scss */
#how-it-works-two .howitworks h2 {
  float: right;
  margin-top: 10%;
  margin-right: 10%;
}
/* line 205, ../../assets/compass/sass/views/home.scss */
#how-it-works-two .howitworks p {
  float: right;
  clear: both;
  margin-right: 23%;
}
/* line 210, ../../assets/compass/sass/views/home.scss */
#how-it-works-two .howitworks #bag-corner {
  position: absolute;
  left: 47%;
  top: 0%;
}

/* line 217, ../../assets/compass/sass/views/home.scss */
#how-it-works-three {
  background: black;
}
/* line 219, ../../assets/compass/sass/views/home.scss */
#how-it-works-three .howitworks {
  height: 500px;
  background: url("../images/cupSteam.jpg") right bottom no-repeat;
  color: #fff;
  background-size: contain;
  position: relative;
}
/* line 225, ../../assets/compass/sass/views/home.scss */
#how-it-works-three .howitworks img {
  position: absolute;
  left: 47%;
  top: 0%;
}
/* line 230, ../../assets/compass/sass/views/home.scss */
#how-it-works-three .howitworks h2 {
  padding-top: 10%;
  margin-top: 0%;
  margin-left: 20%;
}
/* line 235, ../../assets/compass/sass/views/home.scss */
#how-it-works-three .howitworks p {
  margin-left: 23%;
}

/* line 240, ../../assets/compass/sass/views/home.scss */
#get-started {
  height: 150px;
  background: url("../images/canvas.jpg") center bottom no-repeat;
  background-size: cover;
  position: relative;
}
/* line 246, ../../assets/compass/sass/views/home.scss */
#get-started .get-started img {
  position: absolute;
  left: 47%;
  top: 0%;
}
/* line 251, ../../assets/compass/sass/views/home.scss */
#get-started .get-started button {
  position: absolute;
  left: 41%;
  top: 48%;
  width: 200px;
  background: #294741;
}

/* line 263, ../../assets/compass/sass/views/home.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #000;
  position: absolute;
  left: 47%;
  top: 0%;
}

/* line 1, ../../assets/compass/sass/views/footer.scss */
.footer {
  width: 100%;
  background: #3a2f27;
}
/* line 4, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
}
/* line 8, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-top {
  border-bottom: 1px solid #a08855;
  padding-bottom: 10px;
}
/* line 11, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-top img {
  margin: 20px 0px;
}
/* line 14, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-top a {
  color: #edebe6;
  padding: 25px;
}
/* line 19, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-bottom {
  padding: 10px;
}
/* line 21, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-bottom p.copyright {
  color: #edebe6;
  padding-top: 15px;
}
/* line 25, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-bottom a {
  color: #edebe6;
  padding: 10px;
}
/* line 29, ../../assets/compass/sass/views/footer.scss */
.footer .footer-wrapper .footer-bottom p {
  color: #a08855;
  padding-top: 10px;
  margin: 0;
}

/* line 1, ../../assets/compass/sass/views/_choices.scss */
body {
  background: url("../images/canvas.jpg");
}

/* line 4, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper {
  margin-top: 60px;
}
/* line 6, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 12, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
/* line 19, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
}
/* line 21, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 25, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-block {
  border: 1px solid #edebe6;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 1, ../../assets/compass/sass/views/_delivery.scss */
body {
  background: #e7e7e7;
}
/* line 3, ../../assets/compass/sass/views/_delivery.scss */
body h1, body p {
  text-align: center;
}
/* line 6, ../../assets/compass/sass/views/_delivery.scss */
body .page-wrapper {
  margin-top: 180px;
}
/* line 8, ../../assets/compass/sass/views/_delivery.scss */
body .page-wrapper .container {
  border: solid 1px #ccc;
  margin-bottom: 25px;
}
